test:
  shard1:
    adapter: postgresql
    encoding: unicode
    database: shard_handler_shard1
    username: postgres
    password:
  shard2:
    adapter: postgresql
    encoding: unicode
    database: shard_handler_shard2
    username: postgres
    password:
